<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/Publications">Publications</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
<iframe
  src="https://app.appsmith.com/app/my-data-journey/homepage-67f9f911f36c48005daec8aa?branch=main"
  width="100%"
  height="400"
  frameborder="0"
  allowfullscreen
></iframe>
  
  <footer>
   <ul>
   <li><a href="mailto:ebmanohar@yahoo.com">email</a></li>
   <li><a href="https://github.com/E-B-Manohar">github.com/E-B-Manohar</a></li>
   </ul>
  </footer>
  </body>

</html>
